@use '../abstract' as a;

.hero {
  grid-area: 1/ 1 / 1 / 4;
  display: grid;
  justify-items: center;
  row-gap: 4rem;
  @include a.breakpoint(medium) {
    grid-template-columns: 1fr repeat(2, min(calc((100% - 2.5rem) / 2), 120rem/2)) 1fr;
    gap: 4rem;
  }
  
  @include a.breakpoint(large) {
    grid-area: 1/ 2;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
  }

  &__text {
    grid-area: 1/ 2;
    display: grid;
    gap: 2rem;

    @include a.breakpoint(medium) {
      align-content: center;
    }

    @include a.breakpoint(large) {
      grid-area: 1/1;
    }
    
  }

  &__button-flex {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  &__picture {
    grid-area: 2/ 2 / 2 / 4;
    width: 100%;
    overflow: clip;

    @include a.breakpoint(medium) {
      grid-area: 1/ 3 / 1 / 5;
    }
    
    @include a.breakpoint(large) {
      grid-area: 1/2;
    }
  }

  &__image {
    width: 100%;
    border-radius: 1rem;
  }

  &__release-date {
    font-weight: 700;
    text-transform: uppercase;
  }
}