// Colors
$colors: (
  // Main Colors
        orange: (
                '500': #F16718,
                '400': #FF9B62,
        ),
        blue: (
                '900': #162542,
                '300': #7B8BAD,
        ),
        grey: (
                '500': #E8EFF2,
        ),
  // Other
        'background': #fafafa,
        'white': #ffffff,
        'black': #000000,
);